PORT=5000
NODE_ENV=production

# Database Connection (Neon PostgreSQL)
DATABASE_URL="postgresql://user:password@ep-cool-db-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Security & Hashing
BCRYPT_SALT_ROUNDS=10

# JWT Authentication
JWT_ACCESS_SECRET="mini_kanban_jwt_access_secret_key_2026_super_secure"
JWT_REFRESH_SECRET="mini_kanban_jwt_refresh_secret_key_2026_super_secure"
JWT_ACCESS_EXPIRES_IN="7d"
JWT_REFRESH_EXPIRES_IN="30d"

# Application URL
APP_URL="https://kanban-backend-umber.vercel.app"

